{% extends 'base.html' %}
{% load static %}
{% block title %}Basic Info{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url "add_basic_info" %}" class="btn btn-primary">Basic Info</a></li>
                <li class="d-grid"><a href="{% url "social_media" %}" class="btn">Social Media</a></li>
                <li class="d-grid"><a href="{% url "add_project" %}" class="btn">Add Projects</a></li>
                <li class="d-grid"><a href="{% url "add_research" %}" class="btn">Add Research</a></li>
                <li class="d-grid"><a href="{% url "projects" %}" class="btn">Projects</a></li>
                <li class="d-grid"><a href="{% url "research" %}" class="btn">Researches</a></li>

            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <div class="row">
                {% for bs in basic %}
                    <div class="col-sm-15">
                        <div class="card m-2">
                            <div class="card-body">
                                <p>First Name: {{bs.firstname}}</p>
                                <p>Last Name: {{bs.lastname}}</p>
                                <p>Email: {{bs.email}}</p>
                                <p>Phone Number: +{{bs.country_code}}-{{bs.phone_number}}</p>
                                <p>City: {{bs.city}}</p>
                                <p>State: {{bs.state}}</p>
                                <p>Country: {{bs.country}}</p>
                                <p>Zip Code: {{bs.zip_code}}</p>
                                <p>Address: {{bs.address}}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}