{% extends 'base.html' %}
{% load static %}
{% block title %}Project List{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{request.user}}</span></h3>
        <div class="col-sm-2 border-end">
            <ul class="list-unstyled">
                <li class="d-grid"><a href="{% url "add_basic_info" %}" class="btn">Basic Info</a></li>
                <li class="d-grid"><a href="{% url "social_media" %}" class="btn">Social Media</a></li>
                <li class="d-grid"><a href="{% url "add_project" %}" class="btn">Add Projects</a></li>
                <li class="d-grid"><a href="{% url "add_research" %}" class="btn">Add Research</a></li>
                <li class="d-grid"><a href="{% url "projects" %}" class="btn">Projects</a></li>
                <li class="d-grid"><a href="{% url "research" %}" class="btn btn-primary">Researches</a></li>
            </ul>
        </div>
        <div class="col-sm-9 offset-sm-1">
            <div class="row">
                {% for rs in research %}
                    <div class="col-sm-15">
                        <div class="card m-1">
                            <div class="card-body">
                                <h3>Title: {{rs.title}}</h3>
                                <p>Article Type: {{rs.article_type}}</p>
                                <p>Abstract: {{rs.abstract}}</p>
                                <p>Author Names: {{rs.author_names}}</p>
                                <p>Link: {{rs.link}}</p>
                                <a href="{% url 'update_research' id=rs.id %}" class="btn btn-primary">Update</a>
                                <a href="{% url 'delete_research' id=rs.id %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}