{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock title%}
{% block main-content %}
  <div class="proj">
    <header>
      <h1>Pre-Prints</h1>
    </header>
    {% if preprints %}
      <ul>
        {% for preprint in preprints %}
          <li>
            <h2>{{ preprint.title }}</h2>
            <p>{{ preprint.abstract|linebreaks }}</p>
            <a href="#">View Preprint &rarr;</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No preprint found.</p>
    {% endif %}
  </div>
{% endblock main-content %}
