{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock title%}
{% block main-content %}
  <div class="proj">
    <header>
      <h1>Projects</h1>
    </header>
    {% if projects %}
      <ul>
        {% for project in projects %}
          <li>
            <h2>{{ project.title }}</h2>
            <p>{{ project.description|linebreaks }}</p>
            <p><strong>Project Type:</strong> {{ project.project_type }}</p>
            <a href="#">View Project &rarr;</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No projects found.</p>
    {% endif %}
  </div>
{% endblock main-content %}
