{% extends 'base.html' %}
{% load static %}
{% block title %}Basic Info{% endblock title %}
{% block main-content %}
<div class="container my-5">
    <div class="row">
        <h3>Welcome <span class="text-capitalize">{{ data.basic.firstname }}</span></h3>
        {% include 'client/navigation_sidebar.html' %}
        <div class="col-sm-9 offset-sm-1">
            <div class="row">
                {% if data %}
                    <div class="col-sm-15">
                        <div class="card m-2">
                            <div class="card-body">
                                <p>First Name: {{data.basic.firstname}}</p>
                                <p>Last Name: {{data.basic.lastname}}</p>
                                <p>Email: {{data.user.email}}</p>
                                <p>Phone Number: +{{data.basic.country_code}}-{{data.basic.phone_number}}</p>
                                <p>City: {{data.basic.city}}</p>
                                <p>State: {{data.basic.state}}</p>
                                <p>Country: {{data.basic.country}}</p>
                                <p>Zip Code: {{data.basic.zip_code}}</p>
                                <p>Address: {{data.basic.address}}</p>
                                <a href="{% url "info_update" %}" class="btn btn-primary">Update</a>
                                <a href="{% url "delete_info" %}" class="btn btn-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock main-content %}