{% extends 'base.html' %}
{% load static %}
{% block title %}Projects{% endblock title%}
{% block main-content %}
  <div class="proj">
    <header>
      <h1>Publications</h1>
    </header>
    {% if researches %}
      <ul>
        {% for publication in researches %}
          <li>
            <h2>{{ publication.title }}</h2>
            <p>{{ publication.abstract|linebreaks }}</p>
            <a href="#">View Publication &rarr;</a>
          </li>
        {% endfor %}
      </ul>
    {% else %}
      <p>No publications found.</p>
    {% endif %}
  </div>
{% endblock main-content %}
